{% extends "base_card.html" %}
{% set body_classes = "layout-card wide" %}

{% block main %}
{% if err_msg %}
  <div class="alert alert-danger">{{ err_msg }}</div>
{% endif %}
{% if wls_req.iact == True and session_existed -%}
  <div class="alert alert-info">
    Although you were previously logged in, the application requires you to enter your login details again.  This is
    often done to protect resources that require a high level of security.
  </div>
{% endif -%}
<div class="row">
  <div class="col-md-7">
    <p>The following application wants you to log in:</p>
    <div class="card">
      <div class="card-body">
        {%- if desc_safe %}
        <h4 class="card-title">{{ desc_safe|safe }}</h4>
        <h5 class="card-subtitle"><code>{{ domain }}</code></h5>
        {%- else %}
        <h4 class="card-title"><code>{{ domain }}</code></h4>
        <p class="card-subtitle text-muted">[no application name was provided]</p>
        {%- endif %}
      </div>
      {% if msg_safe -%}
      <div class="card-footer">
        <p class="card-text text-muted">You need to log in because <span class="text-body">{{ msg_safe|safe }}</span>.</p>
      </div>
      {% endif -%}
    </div>
    <p class="text-muted">You have been sent here to authenticate yourself as an SRCF user.  You can login using a personal SRCF account, or alternatively <a href="{{ raven_handoff }}">login with Raven</a>.</p>
    <p class="text-muted">In either case, the application will receive your CRSid (and with Raven login, whether you are a current student or staff member).  No other personal information will be included.</p>
  </div>
  <div class="col-md-5">
    <p><strong>If you trust this application</strong>, enter your username and password below.</p>
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          {% if force_userid -%}
          <label>Username</label>
          <input type="text" readonly class="form-control" value="{{ force_userid }}">
          <small class="form-text text-muted">
            If this is not you, then <a href="{{ url_for('logout') }}">log out</a> first.
          </small>
          {% else -%}
          <label for="userid" class="col-form-label">Username</label>
          <input type="text" id="userid" name="userid" placeholder={% if config['TESTING'] %}"test0001 to test0500"{% else %}"CRSid"{% endif %} class="form-control">
          {% endif -%}
        </div>
        <div class="form-group">
          <label for="password" class="col-form-label">Password</label>
          <input type="password" id="password" name="pwd" placeholder={% if config['TESTING'] %}"'test'"{% else %}"SRCF password"{% endif %} class="form-control">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<div class="card-footer">
  <div class="float-left">
    <a href="{{ raven_handoff }}" class="btn btn-outline-success">Login with Raven</a>
  </div>
  <div class="text-right">
    <button type="submit" name="action" value="login" class="btn btn-outline-primary">Sign in</button>
    <button type="submit" name="action" value="cancel" class="btn btn-outline-secondary">Cancel</button>
  </div>
</div>
{% endblock %}

{% block under %}
<div class="float-left">
  <span class="text-muted">{{ domain }}</span>
</div>
<div class="float-right">
  <a href="https://www.srcf.net">
    <span class="text-danger">Student-Run</span>
    <span class="text-primary">Computing Facility</span>
  </a>
</div>
{% endblock %}
