{% extends "base.html" %}
{% block main %}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        The following application wants you to log in:
      </div>
      <div class="card-body pb-1">
        {%- if desc_safe %}
        <h4 class="card-title">{{ desc_safe|safe }}</h4>
        <h5 class="card-subtitle"><code>{{ domain }}</code></h5>
        {%- else %}
        <h4 class="card-title"><code>{{ domain }}</code></h4>
        <p class="card-subtitle mb-2 text-muted">[no application name was provided]</p>
        {%- endif %}
        {% if msg_safe -%}
        <p class="card-text"><span class="text-muted">You need to log in because</span> {{ msg_safe|safe }}.</p>
        {% endif -%}
        {% if wls_req.iact == True and session_existed -%}
        <p class="card-text">Although you were previously logged into the login service, the application requires you to enter your login details again.  This is
        often done to protect resources that require a high level of security.</p>
        {% endif -%}
      </div>
      <div class="card-footer text-muted">
        You have been sent here to log in with your SRCF credentials.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>If you trust this application</strong>, enter your details below:</strong>
      </div>
      <div class="card-body">
        {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
        {% endif %}
        <form method="post">
          <div class="form-group row mx-0">
            {% if force_userid -%}
            <label class="col-sm-3 col-form-label">Username</label>
            <input type="text" readonly class="form-control-plaintext col-sm-9" value="{{ force_userid }}">
            <small class="form-text text-muted mt-0 pl-3">
              If this is not you, then <a href="{{ url_for('logout') }}">log out</a> first.
            </small>
            {% else -%}
            <label for="userid" class="col-sm-3 col-form-label">Username</label>
            <input type="text" id="userid" name="userid" placeholder={% if config['TESTING'] %}"test0001 to test0500"{% else %}"CRSid"{% endif %} class="col-sm-9 form-control">
            {% endif -%}
          </div>
          <div class="form-group row mx-0">
            <label for="password" class="col-sm-3 col-form-label">Password</label>
            <input type="password" id="password" name="pwd" placeholder={% if config['TESTING'] %}"'test'"{% else %}"SRCF password"{% endif %} class="col-sm-9 form-control">
          </div>
          <div class="form-group text-right">
            <button type="submit" name="action" value="login" class="float-right btn btn-primary">Sign in</button>
            <button type="submit" name="action" value="cancel" class="float-right mr-2 btn btn-outline-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
