{% extends "base_card.html" %}
{% set body_classes = "layout-card wide" %}

{% block main %}
<h3 class="card-title">Insecure web application: login blocked</h3>
<p>The web application at <code>{{ domain }}</code> wants you to log in, but is not communicating securely.</p>
<p>To avoid leaking your identity to eavesdroppers, we have configured the authentication service to forbid logging into insecure web
applications.</p>
<h5>What does this mean?</h5>
<p>Websites that talk to your browser using encryption will use addresses that start with <code>https</code>.  The web
application at <code>{{ domain }}</code> that sent you here asked that we send the result of your login to an address starting with
<code>{{ scheme }}</code>, which does not provide encrypted communications.</p>
<p>Anyone who can snoop on your connection, for example when you are connected to an unsecured public network, could
capture and store the responses that are sent by this service to web applications using insecure <code>{{ scheme }}</code> addresses.</p>
<p>At best, an attacker with a capture of a valid authentication response would just find out your username.  At worst, they could
"replay" the same response to the same web application, and log in as you.</p>
<p>Whether a replay attack like this would be possible can depend on many factors, including how robust and strict the
target web application is in its checking of authentication responses, but it is safest to make these attacks impossible
in the first place.</p>
{% endblock %}

{% block under %}
<div class="float-left">
  <span class="text-muted">{{ domain }}</span>
</div>
<div class="float-right">
  <a href="https://www.srcf.net">
    <span class="text-danger">Student-Run</span>
    <span class="text-primary">Computing Facility</span>
  </a>
</div>
{% endblock %}
